body {
    margin: 0;
    background-color: rgb(243, 241, 241);
}

.top-bar a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
    
}

.top-bar a:hover{color: blue; text-decoration: none;}

.top-bar {
    height: 96px;
    background-color: rgb(247, 247, 170);
}


.nav-link {
    display: flex;
    display: inline-block;
    transition: border-bottom 0.5s;
    align-self: center;
    margin: 15px;
    padding: 0;
    text-align: center;
}

.nav-link:hover {
    border-bottom: 2px solid darkgreen;
}

.nav-link a:hover {
    color:darkgreen;
}



#logo{
    align-self: center;
    text-align: center;
    vertical-align: top;

}